<!--    <div style="height: 20px;"></div>-->
<table th:fragment="table" class="table table-striped table-bordered" id="logTable">
    <thead>
        <th scope="col">Zaměstnavatel</th>
        <th scope="col">Projekt</th>
        <th scope="col">Příjemce služby</th>
        <th scope="col">Služby (Aktivity)</th>
        <th scope="col">Detail (Aktivity)</th>
        <th scope="col">Počet hodin</th>
        <th scope="col">Akce</th>
    </thead>
    <tbody>
        <!--            <tr>-->
        <!--                <td>EP Brno Project, s.r.o.</td>-->
        <!--                <td>P01 - SEGINUS</td>-->
        <!--                <td>Seginus, s.r.o.</td>-->
        <!--                <td>čerpání, platby</td>-->
        <!--                <td></td>-->
        <!--                <td>2.0</td>-->
        <!--                <td>-->
        <!--                </td>-->
        <!--            </tr>-->
    </tbody>
</table>