<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="cz">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <title>Nastavit heslo</title>
    </head>
    <body style="overflow: hidden;">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.2/umd/popper.min.js" integrity="sha512-aDciVjp+txtxTJWsp8aRwttA0vR2sJMk/73ZT7ExuEHv7I5E6iyyobpFOlEFkq59mWW8ToYGuVZFnwhwIUisKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script th:inline="javascript">

            function validateAndSet() {

                let somethingWrong = false;

                const password = $("#password1Input").val();

                if(password !== $("#password2Input").val()) {
                    $("#notSame").attr('hidden', false);
                    somethingWrong = true;
                } else {
                    $("#notSame").attr('hidden', true);
                }

                if(password === "default") {
                    $("#isDefault").attr('hidden', false);
                    somethingWrong = true;
                } else {
                    $("#isDefault").attr('hidden', true);
                }

                if(password === "") {
                    $("#isBlank").attr('hidden', false);
                    somethingWrong = true;
                } else {
                    $("#isBlank").attr('hidden', true);
                }



                if(!somethingWrong) {
                    $.ajax({
                        type: "POST",
                        url: "/api/new_password/post",
                        data: "password="+password
                    });

                    $("#successfullySet").attr('hidden', false);

                    setTimeout(() => {
                        history.back();
                    }, 1500);
                }
            }
            
        </script>

        <div class="container" style="transform: scale(1.5); display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 100vh">
            <form>
                <h1 style="color: green" id="successfullySet" hidden>HESLO BYLO NASTAVENO</h1>
                <h3>Nastavte si heslo</h3>
                <br>
                <a style="color: red" id="isDefault" hidden>Heslo nesmí být stejné jako předtím</a>
                <a style="color: red" id="isBlank" hidden>Heslo nesmí být prázdné</a>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password1Input" name="password1" placeholder="Nové heslo">
                </div>
                <a style="color: red" id="notSame" hidden>Heslo není stejné</a>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password2Input" name="password2" placeholder="Potvrdit heslo">
                </div>
                <div style="margin-top: 10px">
                    <button type="button" class="btn btn-primary" th:onclick="validateAndSet()">Potvrdit</button>
                </div>
            </form>
        </div>

    </body>
</html>